
.grid{
     display:grid;
     grid-template-columns: repeat(7, 1fr);
     padding:0 10px;
}
.grid > p:nth-child(1) {
     border-top-left-radius: 8px; 
}
.grid > p:nth-child(7) {
     border-top-right-radius: 8px; 
}

.grid > div:nth-child(43) {
     border-bottom-left-radius: 8px;
}

.grid > div:nth-child(49) {
     border-bottom-right-radius: 8px;
}

.boxContent {
     border: 1.2px solid black;
     min-width:10vw;
     min-height:14vh;
     padding:3px;
     background-color: #ffffff;
     user-select: none;
}
.boxContent p{
     display:flex;
     justify-content: right;
     margin:0;
}
.boxContent:hover{
     background-color: #e7f4ff;
     cursor:pointer;
}
.grayBox{
     background-color: #e1e1e1 !important;
     cursor:default !important;
}
.today{
     background-color: rgb(234, 188, 234) !important;
}
.currentDay{
     background-color: #e7f4ff !important;
}

.dayBox{
     border: 1.2px solid black;
     margin: 0;
     background-color: #ffffff;
     text-align: center;
}
.dayText{
     display: flex;
     border: 1px solid black;
     border-radius: 10px;
     margin-top:3px;
     padding-left:5px;
     width:auto;
}
.onModalDayText{
     display: flex;
     justify-content: space-between;
     border-bottom: 1.2px solid #6C757D;
     border-radius: 3.4px;
     margin-top:3px;
     padding-left:5px;
     width:60%;
}

